* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}
.nav-link {
  color: black !important;
}
.navbar-brand {
  color: black !important;
}
.navbar-toggler {
  background-color: black !important;
}
.navbar-nav .dropdown-menu {
  border: none !important;
  border-radius: 0px !important;
}
